PORT=5000
MONGODB_URI=mongodburl
ACCESS_TOKEN_SECRET=accesstokensecret
ACCESS_TOKEN_EXPIRY=access_token_expiry
REFRESH_TOKEN_SECRET=refreshtokensecret
REFRESH_TOKEN_EXPIRY=refresh_token_expiry
IMAGEKIT_PRIVATE_KEY=imagekit_private_key
IMAGEKIT_PUBLIC_KEY=imagekit_public_key
IMAGEKIT_URL_ENDPOINT=imagekit_url_endpoint
ENCRYPTION_KEY=encryption_key
LIBRARY_TOKEN_SECRET=library_token_secret_key
LIBRARY_TOKEN_EXPIRY=24h